@mixin title-big {
    font-size: $font-size-extra-large;
    font-weight: bold;
    font-family: $font-family;
  }
  
  @mixin floating($border-radius: 5px, $box-shadow: none, $border: none) {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: $border;
  }
  